# ======================================================
# NODE
# ======================================================

node_modules/
npm-debug.log
yarn-error.log

# ======================================================
# PYTHON
# ======================================================

__pycache__/
*.pyc
venv/
.env

# ======================================================
# JAVA
# ======================================================

target/
*.class
*.jar

# ======================================================
# FLUTTER
# ======================================================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# ======================================================
# REACT / NEXT
# ======================================================

.next/
dist/
coverage/

# ======================================================
# ANDROID
# ======================================================

.gradle/
local.properties

# ======================================================
# VSCODE
# ======================================================

.vscode/

# ======================================================
# LATEX BUILD FILES
# ======================================================

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# ======================================================
# OS FILES
# ======================================================

Thumbs.db
.DS_Store

# ======================================================
# BINARIES
# ======================================================

*.exe
*.apk
*.ipa

